body {
    background-color: #ee291b;
    background-image: url("https://cdn.wallpapersafari.com/6/82/JAP6MV.jpg");
}

html {
    background: url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png")
    repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 500px 0;
    }
  }
  
  @-moz-keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 500px 0;
    }
  }
  
  @-ms-keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 500px 0;
    }
  }
  
  @-o-keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 500px 0;
    }
  }
  
  @keyframes animate {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 500px 0;
    }
  }
/* --- FIRST PAGE --- */

#d1{ 
    display: flex;
    flex-direction: column;   
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#container{
    color: #ffffff;
    font-size: 10px;
    margin: 43vh 0 0 0; 
}
#d1 button{
    width: 150px;
    height: 50px;
    color: #cc2138;
    background: white;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
}

.premiere{
    -webkit-animation-duration: 5s;animation-duration: 5s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

.fade {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* --- END FIRST PAGE --- */



/* --- WELCOME PAGE --- */

#bjr{
    color: white;
    text-align: center;
    margin: 25px;
}
#d2{
    display: none;
    background: url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png")
    repeat 0 0;
    -webkit-animation: 10s linear 0s normal none infinite animate;
}
#div_id0{
    color: white;
    display: none;
}
#div_id1{

    color: white;
    display: none;
}
#map{
    position: absolute;
    height:300px;                   /* text area height */
    width:300px;                   /* text area width */
    margin: 27px;
    /* border: solid 2px white; */
    bottom: 15vh;
    border-radius: 150px;
    --glow-color: rgb(66, 207, 231);
    --glow-spread-color: rgba(48, 229, 241, 0.781);
    --enhanced-glow-color: rgb(36, 216, 156);
    --btn-color: rgb(45, 168, 72);
    border: .25em solid var(--glow-color);
    color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-align: center;
    text-size-adjust: 20%;
}
#togg2{
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background: rgb(100, 61, 136);
    background-color: var(--btn-color);
    border-radius: 0em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: absolute;
    transition: all 0.3s;
    height: 60px;
    width: 200px;
    margin: 0 0 0 16vh;
    bottom: 5vh;
}
#battery{
    color: white;
    position: absolute;
    right: 3vh;
}
#networkInfo{
    --glow-color: rgb(230, 64, 64);
    --glow-spread-color: rgba(201, 87, 87, 0.781);
    --enhanced-glow-color: rgb(190, 74, 74);
    --btn-color: rgb(192, 43, 43);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: absolute;
    text-align: center;
    background-color: transparent;
    border: 0.1px solid #e7e7e7;
    border-radius: 900px;
    height: 20px;
    width: 255px;
    color: rgb(255, 0, 0);
    bottom: 60vh;
    margin: 0 0 0 10vh;
}


/* --- END WELCOME PAGE --- */

#d4{
    display: none;
}

/* --- MORE... PAGE --- */




#d3{
    display: none;
    background: url("https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png")
}

#myImage{
    height: 100px;
    width: 100px;
    border: none;
}

.podometre{
    color: white;
    
}
.calorie{
    color: white;
}
.jesuisou{
    color: black;
}

/* --- END MORE... PAGE --- */

@media screen and (max-width: 420px) {
    #map{
        position: absolute;
        height:300px;                   /* text area height */
        width:300px;                   /* text area width */
        border: solid 2px white;
        bottom: 15vh;
        border-radius: 150px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-59%, -25%);
    }
    #meteo{
        font-size: 10px;
        color: wheat;
        
    }
    .c_meteo{
        --glow-color: rgb(255, 225, 3);;
    --glow-spread-color: rgba(255, 215, 15);
    --enhanced-glow-color: rgb(255, 210, 2);
    --btn-color: rgb(255, 234, 0);
    border: .18em solid var(--glow-color);
    color: var(--glow-color);
    font-size: 11px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .18em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .50em .18em var(--glow-color);
        position: absolute;
        border-radius: 15px;
        background: url("https://wallpapersmug.com/large/9c6e00/sunny-day-lakes-mountains.jpg");
        color: wheat;
        text-align: center;
        height: 110px;
        width: 350px;
        bottom: 5vh;
        top: 25%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        box-shadow: 5ch;
        border: linear-gradient(45deg, turquoise, greenyellow) 1;
        
    }
    #togg2{
        position: absolute;
        border: 2px solid white;
        border-radius: 15px;
        background-color: transparent;
        color: white;
        height: 50px;
        width: 200px;
        bottom: 5vh;
        top: 92%;
        left: 30%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #battery{
        color: white;
        position: absolute;
        right: 3vh;
    }
    #networkInfo{
        position: absolute;
        text-align: center;
        background-color: transparent;
        border: solid white 2px;
        border-radius: 15px;
        height: 50px;
        width: 260px;
        color: white;
        bottom: 60vh;
        margin: 0 0 0 10vh;
        top: 38%;
        left: 28%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }  
    
    /*-------------------------------------------*/

    #d3{
        display: none;
    }
    #togg3{
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(100, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: absolute;
        top: 92%;
        left: 30%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: transparent;
        border-radius: 30px;
        border: solid 2px white;
        color: white;
        height: 50px;
        width: 138px;
    }
    .vitesse{
        display: flex;
        padding: 5px;
        position: absolute;
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
        color: black;

        height: 150px;
        width: 300px;
        bottom: 5vh;
        top: 25%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .speed{
        font-size: 15px;
        color: black;
        /*display: none;*/
    }
    #camera{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0 10px 0 0;
    }

    #myImage{
        margin: 0 0 10px 0;
        height: 200px;
        width: 200px;
        border: none;
    }
    
    .podometre{
        color: black;
    }
    .calorie{
        color: black;
    }
    .internet{
        position: absolute;
        display: flex;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        flex-direction: row;
        justify-content: center;
        top: 40%;
        border-radius: 10px;
        background-color: white;
        height: 50px;
        width: 300px;

    }
    #name{
        position: absolute;
        top: 80%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #browser{
        position: absolute;
        top: 25.5%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 300px;
        height: 50px;
        border-radius: 10px;
        
    }

    #flash {
        position: absolute;
        top: 18.6%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 300px;
        height: 50px;
        border-radius: 10px;
        
    }
    #Options1{
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(100, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
               0 0 4em 1em var(--glow-spread-color),
               inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: absolute;
        top: 92%;
        left: 70%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: transparent;
        border-radius: 30px;
        border: solid 2px white;
        color: white;
        height: 50px;
        width: 138px;
    }

    #Options2{
        position: absolute;
        top: 92%;
        left: 30%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: transparent;
        border-radius: 30px;
        border: solid 2px white;
        color: white;
        height: 50px;
        width: 138px;
    }
    #watchOrientation{
        position: absolute;
        display: none;
    }
}

@media screen and (min-width:700px) and (max-width: 800px) {
    #map{
        position: absolute;
        height:500px;                   /* text area height */
        width: 600px;                   /* text area width */
        border: solid 2px white;
        bottom: 15vh;
        border-radius: 25px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-55%, -25%);
    }
    #togg2{
        position: absolute;
        border: 2px solid white;
        border-radius: 15px;
        background-color: transparent;
        color: white;
        height: 50px;
        width: 400px;
        bottom: 5vh;
        top: 92%;
        left: 35%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #battery{
        color: white;
        position: absolute;
        right: 3vh;
    }
    #networkInfo{
        position: absolute;
        text-align: center;
        background-color: transparent;
        border: solid white 2px;
        border-radius: 15px;
        height: 50px;
        width: 400px;
        color: white;
        bottom: 60vh;
        top: 35%;
        left: 35%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }  
}

.textcarte{
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}